* { margin: 5px; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 30px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-size: 2.5rem;
    color: black;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 2px solid #bbb;
}

header, main, footer {
    margin: 3rem auto;
    padding: 1rem;
    max-width: 1000px;
}

header, footer, footer a {
    text-align: center;
    background-color: cornflowerblue;
    color: whitesmoke;
    border-radius: 5px;
}

header img {
    width: 200px;
    height: auto;
    float: right;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkgray;
}

footer {
    font-size: smaller;
}

     .style1 {margin: 0 auto; border: 1px solid #bbb; padding: 5px; background-color: #eee; line-height: 1.5em;}